{% extends '_base.html' %}

{% block title %}- Home{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="hdl-primary">Welcome Home</h1>

        {% if user.is_authenticated %}
            Hi {{ user.email }}
            <p>
                <a href="{% url 'logout' %}" class="btn btn-success">Logout</a>
            </p>
        {% else %}
            <p>You are not logged in</p>
            <a href="{% url 'login' %}" class="btn btn-success">Sign Up</a>
            <a href="{% url 'login' %}" class="btn btn-success">Log In</a>

        {% endif %}

    </div>


{% endblock %}